{
    "extends": "@salecycle/salecycle-es6/backend",
    "env": {
        "browser": true
    },
    "rules": {
        "import/no-unresolved": [
            "error",
            {
                "ignore": [
                    "app/"
                ]
            }
        ]
    }
}